*{

    margin: 0;
    padding: 0;
}
.UnderImgTxt{   margin-top: 22px;
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;

}

.logo{
    display: inline-block;
    margin-top: 49px;
    margin-left: 155px;
    height: 44px;
}

logo1{
    background: white
}
logo1:hover{
    background: red;
}
.global{
    width: 1366px;
    height: 768px;
    
    background-image: url(background.png);
 
}
.img1{
    border: 2px rgb(141, 140, 136) solid;
}

.logoimg{
   
    width: 44px;
    height: 44px;

    display: inline-block;
}
.logotxt{
    display: inline-block;
    margin-left: 15px;

}
.logotxt:hover p{
    color: orange;
}

.txt-logo1{
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 29px;
font-weight: 700;
line-height: 21px;

}
.txt-logo2{
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: left;
}
.information-about-me{
    margin-left: 656px;
   
    display: inline-block;

}
.ImgTures{
    background-image:url(img/img1.jpg) 
}
.ImgTures:hover .orangebox{
    height: 63px;
}
.email{
  
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}
.nomber{
    font-family: Verdana;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: right;

}
.header{
    width: 1221px;
    height: 44px;
    display: inline-block;
}
.LineOfImg1{
    
    margin-left: 157px;
    margin-top: 48px;
}
.bimg1{
   
    margin-right: 69px;
    display: inline-block;

}

.bimg1:nth-child(3n){
    margin-right: 0;
}
.LineOfImg2{
    margin-left: 157px;
    margin-top: 58px;
}

.footer{
    margin-top: 35px;
    text-align: center;
    font-family: "Verdana", sans-serif;
color:  #ffffff;
font-size: 12px;
font-weight: 400;
line-height: 21px;

}
.orangebox{
    width: 312px;
    height: 0;
    transition: 2s ease-out;
    background-color: orange;
    margin-bottom: 0px;
}

